.center_box_ctx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 5% 0% 5%;
}

.single_box {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
}

.single_box_top {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgba(227, 229, 250, 0.6);
    border-radius: 10px;
}

.single_box:hover {
    box-shadow: 0 0 0.3vh 0.3vh rgb(247, 255, 249);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.single_box_bottom {
    align-self: center;
    margin: 3px 2px 3px 2px;
    display: flex;
    flex-direction: column;
    width: 244px;
    background-color: rgba(82, 80, 80, 0.6);
    border: 2px solid rgba(31, 30, 30, 0.3);
    border-radius: 10px;
}

.my_single_img {
    height: 295px;
    width: 240px;
    align-self: center;
}

.my_single_title {
    align-self: center;
    font-size: 20px;
}

.my_single_time {
    align-self: center;
}

.my_single_des {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: rgb(200, 200, 200);
}