.center_box_ctx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0% 13% 0% 13%;
}

.single_box {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px 5px 10px 5px;
}

.single_box_top {
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 350px;
    background-color: rgba(227, 229, 250, 0.6);
}

.single_box:hover {
    box-shadow: 0 0 0.3vh 0.3vh rgb(247, 255, 249);
    font-weight: bold;
}

.single_box_bottom {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: rgba(82, 80, 80, 0.6);
}

.my_single_img {
    height: 400px;
    width: 325px;
    align-self: center;
}

.my_single_title {
    align-self: center;
    font-size: 20px;
}

.my_single_time {
    align-self: center;
}

.my_single_des {
    padding: 8px 5px 0px 5px;
    color: rgb(200, 200, 200);
}