body {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  background: url("/static/imgs/backgroud/001.jpg") repeat-y;
}

.title {
  display: flex;
  flex-direction: row;
  margin-right: 0%;
  background: url("/static/imgs/top.jpg") no-repeat;
  background-size:100% 100%;
  width:100%;
  height:150px;
}

.name {
  margin-left: 15%;
  line-height: 150px;
}

.btns {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content:space-between;
}

.btn {
  margin: 2px;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(26, 94, 243, 0.7);
  width: 20%;
}

.btn_activate {
  margin: 2px;
  color: rgb(229, 226, 226);
  background-color: rgba(0, 31, 206, 0.7);
  width: 20%;
}

.btn:hover {
  color: rgb(161, 161, 161);
  background-color: rgba(0, 31, 206, 0.7);
}

.welcome_text {
  height: 400px;
  width: 80%;
  line-height: 350px;
  font-size: 35px;
  text-align: center;
  background-color: rgba(0, 215, 253, 0.3);
  color: rgb(211, 231, 248);
  border-radius: 8px;
}

.center_box {
  display: flex;
  justify-content: center;
}