body {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  background: url("/static/imgs/backgroud/001.jpg") repeat-y;
}

.title {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  background-image: linear-gradient(to right ,rgba(129, 199, 212, 0.5),rgba(0, 0, 0, 0.7));
  background-size:100% 100%;
  width:100%;
  height:150px;
  border-radius: 8px;
}

.name {
  color: rgba(0, 0, 0, 1.0);
  margin-left: 10%;
  line-height: 180px;
  font-family: 'DHF Dexsar Brush',sans-serif;
}

.btns {
  margin: 15px 5px 15px 5px;
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content:space-between;
  display: table;
  border-collapse: separate;
  border-spacing: 1vh 0px;  /* 水平间距 垂直间距 */
}

.mybtn {
  padding: 2%;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(26, 94, 243, 0.7);
  width: 19%;
  font-size: 2.5vh;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border: 0.3vh solid rgba(55, 0, 255, 0.4)
}

.btn_activate {
  padding: 0%;
  color: rgb(229, 226, 226);
  background-color: rgba(0, 31, 206, 0.7);
  width: 19%;
  font-weight: bold;
  border: 2px solid rgba(23, 1, 121, 0.5);
  border-radius: 4px;
  font-size: 2.8vh;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.mybtn:hover {
  padding: 0%;
  color: rgb(229, 226, 226);
  background-color: rgba(0, 31, 206, 0.7);
  width: 19%;
  font-weight: bold;
  border: 2px solid rgba(0, 31, 206, 0.5);
  font-size: 2.8vh;
  box-shadow: 0 0 0.5vh 0.4vh rgb(0, 31, 206);
  text-align: center;
  vertical-align: middle;
}

.welcome_text {
  height: 400px;
  width: 100%;
  line-height: 350px;
  font-size: 35px;
  text-align: center;
  background-color: rgba(0, 215, 253, 0.3);
  color: rgb(211, 231, 248);
  border-radius: 8px;
}

.center_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0% 18% 0% 18%;
}

@font-face { 
  font-family: 'Django ITC Std';
  src: url('../font/Django\ ITC\ Std.otf');
}

@font-face {
  font-family: 'DHF Dexsar Brush';
  src: url('../font/DHF\ Dexsar\ Brush.otf');
}

@font-face {
  font-family: 'Santana Script';
  src: url('../font/Santana\ Script.ttf');
}