#imgshow {
  margin-left: 20%;
  height: 410px;
  width: 635px;
}

.info_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info_box > div {
  margin-left: 4%;
  margin-right: 6%;
  margin-bottom: 2%;
  width: 50%;
}