<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>张鎢睿的博客</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/myjs.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/home_green.css">
    <link rel="stylesheet" href="/static/css/filmreview.css">
</head>

<body>
    <div class="title">
        <h2 class="name">Zhang Wurui</h2>
    </div>
    <div class="btns">
        <div class="mybtn" id="btn_0">首页</div>
        <div class="mybtn" id="btn_1">技术</div>
        <div class="btn_activate" id="btn_2">影评</div>
        <div class="mybtn" id="btn_3">相册</div>
        <div class="mybtn" id="btn_4">待定</div>
    </div>
    <div class="center_box_ctx">
        {% for film_review in film_reviews %}
        <div class="single_box">
            <div class="single_box_top" onclick="goSpeci({{ film_review.id }})">
                <div style="display: none;">{{ film_review.id }}</div>
                <div class="my_single_title">{{ film_review.title }}</div>
                <div class="my_single_time">{{ film_review.create_time}}</div>
                <img src="{{ film_review.preview_Img }}" class="my_single_img">
            </div>
            <div class="single_box_bottom">
                <div>{{ film_review.preview_des | safe }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<script type="text/javascript">
    window.onload = function() {
        setUserTheme()
    }
    $("#btn_0").click(function() {
        self.location = "/home/";
    })
    $("#btn_1").click(function() {
        self.location = "/tech/";
    })
    $("#btn_3").click(function() {})
    $("#btn_4").click(function() {})

    function goSpeci(id) {
        self.location = "/filmreviewspeci?id=" + id;
    }
</script>

</html>