<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>张鎢睿的博客</title>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/static/css/home.css">
		<script src="/static/js/jquery-3.4.1.js"></script>
	</head>
	<body>
		<div class="title">
			<h2 class="name">Zhang Wurui</h2>
		</div>
		<div class="btns">
			<button class="btn_activate" id="btn_0">首页</button>
			<button class="btn" id="btn_1">词云</button>
			<button class="btn" id="btn_2">相册</button>
			<button class="btn" id="btn_3">影评</button>
			<button class="btn" id="btn_4">待定按键</button>
		</div>
		<div class="center_box">
			<textarea class="welcome_text">这是我的博客</textarea>
		</div>
	</body>
	<script type="text/javascript">
		$("#btn_1").click(function(){
			self.location = "/worldcloud";
		})
		$("#btn_2").click(function(){
		})
		$("#btn_3").click(function(){
		})
		$("#btn_4").click(function(){
		})
	</script>
</html>