<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>张鎢睿的博客</title>
		<script src="/static/js/jquery-3.4.1.js"></script>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/static/css/home.css">
		<link rel="stylesheet" href="/static/css/worldcloud.css">	
	</head>
	<body>
		<div class="title">
			<h2 class="name">Zhang Wurui</h2>
		</div>
		<div class="btns">
			<div class="mybtn" id="btn_0">首页</div>
			<div class="btn_activate" id="btn_1">词云</div>
			<div class="mybtn" id="btn_2">影评</div>
			<div class="mybtn" id="btn_3">相册</div>
			<div class="mybtn" id="btn_4">待定</div>
		</div>
		<div class="info_box">
			<div class="card">
				<img class="card-img-top" src="/static/imgs/202.png">
				<div class="card-body">
				  <h5 class="card-title">大学寝室</h5>
				  <p class="card-text">大学寝室群高频词。2016-09-11~2019-09-01</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/static/imgs/miao.png">
				<div class="card-body">
				  <h5 class="card-title">老mou</h5>
				  <p class="card-text">初中憨憨8人群中老mou的高频词。2018-02-04~2019-09-01</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/static/imgs/study.png">
				<div class="card-body">
				  <h5 class="card-title">初中憨憨8人群</h5>
				  <p class="card-text">初中憨憨8人群中的高频词。2018-02-04~2019-09-01</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/static/imgs/zzt.png">
				<div class="card-body">
				  <h5 class="card-title">ZZT</h5>
				  <p class="card-text">初中憨憨8人群中ZZT的高频词。2018-02-04~2019-09-01</p>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$("#btn_0").click(function(){
			self.location = "/home";
		})
		$("#btn_2").click(function(){
			self.location = "/filmreview";
		})
		$("#btn_3").click(function(){
		})
		$("#btn_4").click(function(){
		})
	</script>
</html>