<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>张鎢睿的词云博客</title>
		<script src="/static/js/jquery-3.4.1.js"></script>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/static/css/home.css">
		<link rel="stylesheet" href="/static/css/worldcloud.css">	
	</head>
	<body>
		<div class="title">
			<h2 class="name">ZhangWurui</h2>
		</div>
		<div class="btns">
			<button class="btn" id="btn_0">首页</button>
			<button class="btn_activate" id="btn_1">词云</button>
			<button class="btn" id="btn_2">相册</button>
			<button class="btn" id="btn_3">影评</button>
			<button class="btn" id="btn_4">待定按键</button>
		</div>
		<div class="info_box">
			<div class="card">
				<img class="card-img-top" src=" ">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src=" ">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src=" ">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src=" ">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$("#btn_0").click(function(){
			self.location = "/home";
		})
		$("#btn_2").click(function(){
		})
		$("#btn_3").click(function(){
		})
		$("#btn_4").click(function(){
		})
	</script>
</html>